.DS_Store
node_modules
/dist
cors.json
kinetic-highway-384600-6edea495627a.json
jsonconfig.json
config.ini
.gcloudignore
app.yaml
.gitignore


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sql
